{% load menu_tags social_tags %}
{% load cache %}

<div class="humberger__menu__overlay"></div>
<div class="humberger__menu__wrapper">
    <nav class="humberger__menu__nav mobile-menu">
        <ul>
            <li><a href="/">Main Page</a></li>
            {% cache 500 get_categories %}
            {% get_categories %}
            {% endcache %}
            <li><a href="{% url 'about' %}">About Me</a></li>
            <li><a href="{% url 'contact' %}">Contacts</a></li>
        </ul>
    </nav>
    <div id="mobile-menu-wrap">

        {% cache 5000 left_nav %}
        <div class="humberger__menu__about">
            <div class="humberger__menu__title sidebar__item__title">
                <h6>About me</h6>

                {% get_about as about %}
                <img src="{{ about.get_first_image}}" alt="">
                {{ about.mini_text|safe }}
            </div>

            <div class="humberger__menu__about__social sidebar__item__follow__links">
                {% get_social_links as social_links %}
                {% for item in social_links %}
                <a href="{{ item.link }}"><img class="contact_icon" src="{{ item.icon.url }}"></a>
                {% endfor %}
            </div>
        </div>
        {% endcache %}
    </div>
</div>
